.adjacent-posts {
    // Define Margin. Example: 4rem auto 0;

    .adjacent-posts-wrapper {
        display: flex;
        justify-content: space-between;

        .cols {
            display: flex;

            &.previous {
                margin-left: -0.85rem;
            }

            &.next {
                flex-direction: row-reverse;
                margin-right: -0.85rem;
                text-align: right;
            }

            article {

                .entry-title {
                    margin: 0;
                    font-weight: normal;
                }

                .entry-meta {
                    font-size: 0.875rem;
                }
            }

            .icon {
                margin: 0 0.85rem;

                svg {
                    height: 0.7rem;
                    vertical-align: middle;
                }
            }
        }
    }
}

.pre-footer {
    background-color: $color__text_grey_0;

    .pre-footer-wrapper {
        margin: 0 auto;
        padding: 2rem 1rem;
        max-width: $size__site-footer;

        h3 {
            margin: 0;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $color__text_grey_3;
        }

        .cols {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;

            .col {
                flex: 1 0 auto;
                margin: 0 1rem;

                ul {
                    padding-left: 0;
                    list-style: none;
                }
            }
        }
    }
}

.site-footer {
    background-color: $color__dark_5;

    .footer-wrapper {
        max-width: $size__site-footer;
        margin: 0 auto;
        padding: 2rem  1rem;

        .footer-message {

            p {
                margin: 0;
                color: $color__text_grey_5;

                a {
                    color: $color__text_grey_5;
                }
            }
        }

        .footer-site-title {
            margin-top: 1.5rem;
            padding-top: 1rem;
            border-top: 1px solid $color__text_grey_5;

            .site-title {
                margin: 0;

                a {
                    color: $color__text_grey_1;

                    &:hover {
                        color: $color__text_grey_0;
                        text-decoration: none;
                    }
                }
            }
        }

        .social-links {
            margin-top: 0.5rem;
    
            svg {
                max-width: 1.25rem;
                color: #D6D6D6;
    
                &:hover {
                    color: white;
                }
            }
        }
    }
}
