/**
 * Get base CSS
 */
.adjacent-posts .adjacent-posts-wrapper {
  display: flex;
  justify-content: space-between;
}

.adjacent-posts .adjacent-posts-wrapper .cols {
  display: flex;
}

.adjacent-posts .adjacent-posts-wrapper .cols.previous {
  margin-left: -0.85rem;
}

.adjacent-posts .adjacent-posts-wrapper .cols.next {
  flex-direction: row-reverse;
  margin-right: -0.85rem;
  text-align: right;
}

.adjacent-posts .adjacent-posts-wrapper .cols article .entry-title {
  margin: 0;
  font-weight: normal;
}

.adjacent-posts .adjacent-posts-wrapper .cols article .entry-meta {
  font-size: 0.875rem;
}

.adjacent-posts .adjacent-posts-wrapper .cols .icon {
  margin: 0 0.85rem;
}

.adjacent-posts .adjacent-posts-wrapper .cols .icon svg {
  height: 0.7rem;
  vertical-align: middle;
}

.pre-footer {
  background-color: #FAFAFA;
}

.pre-footer .pre-footer-wrapper {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 57rem;
}

.pre-footer .pre-footer-wrapper h3 {
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #EBEBEB;
}

.pre-footer .pre-footer-wrapper .cols {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.pre-footer .pre-footer-wrapper .cols .col {
  flex: 1 1 auto;
  margin: 0 1rem;
}

.pre-footer .pre-footer-wrapper .cols .col ul {
  padding-left: 0;
  list-style: none;
}

.site-footer {
  background-color: #191919;
}

.site-footer .footer-wrapper {
  max-width: 57rem;
  margin: 0 auto;
  padding: 2rem  1rem;
}

.site-footer .footer-wrapper .footer-message p {
  margin: 0;
  color: #D6D6D6;
}

.site-footer .footer-wrapper .footer-message p a {
  color: #D6D6D6;
}

.site-footer .footer-wrapper .footer-site-title {
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #D6D6D6;
}

.site-footer .footer-wrapper .footer-site-title .site-title {
  margin: 0;
}

.site-footer .footer-wrapper .footer-site-title .site-title a {
  color: #F0F0F0;
}

.site-footer .footer-wrapper .footer-site-title .site-title a:hover {
  color: #FAFAFA;
  text-decoration: none;
}

.site-footer .footer-wrapper .social-links {
  margin-top: 0.5rem;
}

.site-footer .footer-wrapper .social-links svg {
  max-width: 1.25rem;
  color: #D6D6D6;
}

.site-footer .footer-wrapper .social-links svg:hover {
  color: white;
}

.site-header {
  margin: 0 auto;
}

.site-main {
  margin: 0 auto;
}

.site-main .entry-header .entry-title {
  margin-bottom: 0;
}

.site-main .entry-header .entry-meta {
  font-size: 0.9125rem;
}

.site-main .entry-content a {
  text-decoration: none;
  color: #2681AB;
}

.site-main .entry-content a:hover {
  text-decoration: underline;
}

.site-main .entry-footer p {
  margin: 0;
}

.site-main .entry-footer .separator {
  margin: 2.5rem 0 1.5rem;
  text-align: center;
}

.site-main .entry-footer .separator span {
  padding: 0 0.5rem;
  font-size: 1.5rem;
}

.site {
  display: grid;
  grid-template-columns: 1fr 45rem 1fr;
  grid-template-areas: ". header ." ". main ." "adjacent adjacent adjacent" "pre-footer pre-footer pre-footer" "footer footer footer ";
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {
  .site {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header header" "main main main" "adjacent adjacent adjacent" "pre-footer pre-footer pre-footer" "footer footer footer";
  }
}

.site-header {
  grid-area: header;
  margin: 0 1rem;
}

.site-main {
  grid-area: main;
  overflow: hidden;
  /* Resolves issue with <pre> elements forcing full width. */
  margin: 0 1rem;
}

.adjacent-posts {
  grid-area: adjacent;
  margin: 0 1rem;
}

.pre-footer {
  grid-area: pre-footer;
}

.site-footer {
  grid-area: footer;
}

/**
 * Specific Imports
 */
.tags {
  margin: 0 -0.35rem;
}

.tags .tag {
  margin: 0 0.35rem;
  font-size: 0.825rem;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #F0F0F0;
}

.tags .tag a {
  padding: 0.125rem 0.25rem;
}

.tags .tag:hover {
  background-color: #EBEBEB;
}

.tags .tag:hover a {
  text-decoration: none;
}

/**
 * Specific CSS
 */
.site-header {
  max-width: 45rem;
}

.adjacent-posts-wrapper {
  max-width: 57rem;
  margin: 4rem auto 0;
}
/*# sourceMappingURL=single-post-simple.css.map */