$site__side_margins: 1rem;

$size__site-sidebar: 25%;

$size__site-header-with-sidebar: 66.5rem;
$size__site-main-with-sidebar: 40rem;
$size__site-sidebar: 20rem;
$size__site-main-without-sidebar: 45rem;
$size__site-footer: 57rem;
